:root {
  --w: 60rem;
  --s: 2rem;
  --f: 18px;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: "Tilt Neon", sans-serif;
  font-size: var(--f);
  margin: 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

body.admin {
  margin: 0 auto;
  width: var(--w);
}

body.show {
  --f: 48px;
  overflow: hidden;
}

header > a {
  text-decoration: none;
  color: black;
}

form {
  display: flex;
  flex-direction: column;
}

form > * {
  margin: var(--s) 0;
}

.error {
  color: #ff0000;
}

.success {
  color: #00ff00;
  transition: none;
}

.row {
  display: flex;
  justify-content: space-between;
}

.presentations {
  padding: 0;
}

.presentations li {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: var(--s) 0;
}

.buttons {
  display: flex;
}

.links a {
  padding-right: var(--s);
}

.tools {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  width: 90vw;
  padding: 1rem 5vw;
  transition: opacity 250ms;
}

.tools > * {
  text-align: right;
}

.presentation {
  transition: translate ease-in-out 250ms;
}

.chapter {
  display: flex;
  height: 100vh;
}

.chapter section {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  padding: 10vh 10vw;
}

.chapter section h2 {
  margin-bottom: 10rem;
}

.info {
  position: absolute;
  bottom: 0;
}

.icon {
  display: block;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  border: none;
  font-size: 0;
  width: 2rem;
  height: 2rem;
}

.icon[disabled] {
  opacity: 0.15;
}

.restart {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M21.66,10.25l-9-8a1,1,0,0,0-1.32,0l-9,8a1,1,0,0,0-.27,1.11A1,1,0,0,0,3,12H4v9a1,1,0,0,0,1,1H19a1,1,0,0,0,1-1V12h1a1,1,0,0,0,.93-.64A1,1,0,0,0,21.66,10.25ZM13,20H11V17a1,1,0,0,1,2,0Zm5,0H15V17a3,3,0,0,0-6,0v3H6V12H18ZM5.63,10,12,4.34,18.37,10Z' fill='%236563ff'/%3E%3C/svg%3E");
}

.next {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='Icons' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:url(%23linear-gradient);%7D.cls-2%7Bfill:%23ffc0fe;%7D%3C/style%3E%3ClinearGradient gradientUnits='userSpaceOnUse' id='linear-gradient' x1='12' x2='12' y1='1' y2='23.087'%3E%3Cstop offset='0' stop-color='%23ff8af7'/%3E%3Cstop offset='1' stop-color='%23f72df2'/%3E%3C/linearGradient%3E%3C/defs%3E%3Ccircle class='cls-1' cx='12' cy='12' r='11'/%3E%3Cpath class='cls-2' d='M18.707,11.293l-4-4a1,1,0,1,0-1.414,1.414L15.586,11H6a1,1,0,0,0,0,2h9.586l-2.293,2.293a1,1,0,1,0,1.414,1.414l4-4A1,1,0,0,0,18.707,11.293Z'/%3E%3C/svg%3E");
}

.previous {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='Icons' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:url(%23linear-gradient);%7D.cls-2%7Bfill:%23ffc0fe;%7D%3C/style%3E%3ClinearGradient gradientUnits='userSpaceOnUse' id='linear-gradient' x1='12' x2='12' y1='0.957' y2='23.045'%3E%3Cstop offset='0' stop-color='%23ff8af7'/%3E%3Cstop offset='1' stop-color='%23f72df2'/%3E%3C/linearGradient%3E%3C/defs%3E%3Ccircle class='cls-1' cx='12' cy='12' r='11'/%3E%3Cpath class='cls-2' d='M18,11H8.414l2.293-2.293A1,1,0,1,0,9.293,7.293l-4,4a1,1,0,0,0,0,1.414l4,4a1,1,0,0,0,1.414-1.414L8.414,13H18a1,1,0,0,0,0-2Z'/%3E%3C/svg%3E");
}

.down {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='Icons' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:url(%23linear-gradient);%7D.cls-2%7Bfill:%23ffc0fe;%7D%3C/style%3E%3ClinearGradient gradientUnits='userSpaceOnUse' id='linear-gradient' x1='12' x2='12' y1='1' y2='22.959'%3E%3Cstop offset='0' stop-color='%23ff8af7'/%3E%3Cstop offset='1' stop-color='%23f72df2'/%3E%3C/linearGradient%3E%3C/defs%3E%3Ccircle class='cls-1' cx='12' cy='12' r='11'/%3E%3Cpath class='cls-2' d='M16.707,13.293a1,1,0,0,0-1.414,0L13,15.586V6a1,1,0,0,0-2,0v9.586L8.707,13.293a1,1,0,1,0-1.414,1.414l4,4a1,1,0,0,0,1.414,0l4-4A1,1,0,0,0,16.707,13.293Z'/%3E%3C/svg%3E");
}

.up {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' id='Icons' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:url(%23linear-gradient);%7D.cls-2%7Bfill:%23ffc0fe;%7D%3C/style%3E%3ClinearGradient gradientUnits='userSpaceOnUse' id='linear-gradient' x1='12' x2='12' y1='1' y2='22.894'%3E%3Cstop offset='0' stop-color='%23ff8af7'/%3E%3Cstop offset='1' stop-color='%23f72df2'/%3E%3C/linearGradient%3E%3C/defs%3E%3Ccircle class='cls-1' cx='12' cy='12' r='11'/%3E%3Cpath class='cls-2' d='M16.707,9.293l-4-4a1,1,0,0,0-1.414,0l-4,4a1,1,0,1,0,1.414,1.414L11,8.414V18a1,1,0,0,0,2,0V8.414l2.293,2.293a1,1,0,0,0,1.414-1.414Z'/%3E%3C/svg%3E");
}

.titles > * {
  display: none;
}
